@font-face {
  font-family: avenir-light;
  src: url(../fonts/avenir/light.otf);
}

@font-face {
  font-family: avenir-medium;
  src: url(../fonts/avenir/medium.otf);
}

@font-face {
  font-family: avenir-heavy;
  src: url(../fonts/avenir/heavy.otf);
}

@font-face {
  font-family: openSans-regular;
  src: url(../fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: openSans-italic;
  src: url(../fonts/open-sans/OpenSans-Italic.ttf);
}

@font-face {
  font-family: openSans-lightItalic;
  src: url(../fonts/open-sans/OpenSans-LightItalic.ttf);
}

@font-face {
  font-family: openSans-semiboldItalic;
  src: url(../fonts/open-sans/OpenSans-SemiboldItalic.ttf);
}

@font-face {
  font-family: openSans-bold;
  src: url(../fonts/open-sans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: openSans-boldItalic;
  src: url(../fonts/open-sans/OpenSans-BoldItalic.ttf);
}


/*

@font-face {
  font-family: baskerville-italic;
  src: url(../fonts/baskerville/italic.otf);
}

@font-face {
  font-family: futura;
  src: url(../fonts/futura/Futura.ttc);
}
*/
